---
category: blog
title: and it only took a few years!
date: 2012-01-12
---
{% extends 'layouts/post.j2' %}

{% block content %}
<p>guess what, family!  i've finally stepped back up to the plate with a new blog
where i can share photos and crap.</p>
{% endblock %}
