---
title: projects
header: stuff i've coded
---
{% extends "layouts/header.j2" %}

{% from 'includes/forkme.j2' import forkme %}

{% block main %}
  {{ forkme(meta.author.github) }}
  <h1>Projects ({{ site.projects | count }})</h1>

  {% for project in site.projects %}
  <div class="row">
    <div class="span4">
      <p>
        <strong><a href="{{ project.url }}">{{ project.title }}</a></strong><br />

        <small>Started: {{ project.date | date }}</small><br />

        <a class="btn verysmall" href="{{ project.url }}">view</a>

        {% if project.github %}
        <a class="btn verysmall" href="https://github.com/{{ project.github }}">github</a>
        {% endif %}

        {% if project.homepage %}
        <a class="btn verysmall" href="{{ project.homepage }}">homepage</a>
        {% endif %}
      </p>
    </div>

    <div class="span8">
      <div class="well">
        <p>
          {{ project.about }}
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock %}
