/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

.minime
{
  padding: 0px;
  margin: 0px;
  float: left;
  left: -20px;
  position: relative;
}

.topbar .brand {
  font-family: 'Wire One', sans-serif;
  letter-spacing: 1px;
}

pre.prettyprint
{
  padding-left: 30px ! important;
}

code
{
  /*font-family: 'Anonymous Pro', monospace;*/
  font-family: 'Monaco', monospace;
  background-color: #dddddd;
  border: 1px solid #333333;
}

footer
{
  margin-top: 20px;
}

.media-grid legend
{
  display: block;
  float: left;
  margin: 0 0 18px 20px;
  text-align: center;
  /*width: 100%;*/
}

.leftcol img.st2logo
{
  margin-top: 8px;
  padding: 4px;
  /*margin: 0 0 0px 0px;*/
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}


/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

  body {

  }

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

/*  .logo {
    background: url(logo2x.jpg) no-repeat;
    background-size: 212px 303px;
  }*/

}