<link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
<style>
td {
  text-align: center;
  text-valign: center;
  font-family: "sans serif";
}

.blank {
  font-family: 'Special Elite', cursive;
}
</style>
<table style="width: 100%; height: 100%">
  <tr><td class="blank">
    This page intentionally left blank<br />
    &lt;<a href="http://sopastrike.com/strike">http://sopastrike.com/strike</a>&gt;
  </td></tr>
</table>
