{% extends 'layouts/base.j2' %}

{% block main %}
<div class="page-header">
  <h1>{{ my.title }} <small>a {{ my.category }} by colinta</small></h1>
</div>

<div class="row">
  <div class="span14">
    {%- block content %}{% endblock %}
  </div>
</div>
{% endblock %}
