{% macro ascii(now, time) %}
{% if now.hour < 6 or now.hour >= 21 %}
<!--
                                                MMM
                                               MMMMM
     IF IT'S SOURCE YOU WANT,                 MMMMMMD
     IT'S SOURCE YOU GET.                     MMMMMMM        MMM
                                             MMMM MMMM   +MMMMMMM
                   #colinta                  MMM  MMMMMMMMMMMMMMMM
                                             MMM   MMMMMMMMMMMMMMMM
                                            8MMMMMMMMMMMMMMMMMMMMMM?
                                            NMMMMMMMMMMMMMMMMMMMM
                                         ,MMMMMNMMMMMMMMMMMMM
                                      7MMMMMMMMMMMMMMMMMMMM
                                   MMMMMMMMMMMMMMMMMMMMMMMMM
                                MMMMMMMMMMMMMMMMM    MMMMMMM
                             MMMMMMMMMMMMMMMMMM       MMMMMMM
                          MMMMMMMMMMMMMMM   MMM       MMMMMMMM
                       MMMMMMMMMMMMMM8      MMM        MMMMMMMM
                     MMMMMMMMMMMMMMMMM,     MMM        MMMMMMMM$
                  IMMMMMMMMMMM ~MMMMMMM     MMM         MMMMMMMM
                 MMMMMMMMMM      MMMMMMM    MMM         MMMMMMMMM
               MMMMMMMMM+         MMMMMMM   MMM         $MMMMMMMMM
              MMMMMMMMI            MMMMMMM  MMM          MMMMMMMMMM
            :MMMMMMMM               MMMMMMM MMM          MMMMMMMMMM~
            MMMMMMMM                 MMMMMMNMMM           MMMMMMMMMM
           MMMMMMMM~                  OMMMMMMMM           MMMMMMMMMMM
           MMMMMMMMZ                   =MMMMMMM,           MMMMMMMMMMM
           MMMMMMMMM                    ,MMMMMM$           MMMMMMMMMMM
            MMMMMMMMMM:                  +MMMMMM            MMMMMM   .
             MMMMMMMMMMMMMMMMMMMM         ?MMMMM            M~       .
              MMMMMMMMMMMMMMMMMMMM         ZMMMM                     .
                NMMMMMMMMMMMMMMMMM?         MMMM                     .
                   NMMMMMMMMMMMMMMM          MMM                     .
                        MMMMMMMMMMMM          MM                     .
                               8MMMM           M                     V
                                                        GlassGiant.com
-->
{% else %}
<!--


                                              ,DD
     IF IT'S SOURCE YOU WANT,                MM~M8
     IT'S SOURCE YOU GET.                   MO...MI
                                           8M....+M:        ?I
                   #colinta                M+..N,.OM     OMM8M$
                                          ?M..MMN..MM,DMM?...,MI
                                          NN.$M:M...MM~.......:M+
                                          M7.MD+MO.............=M~
                                          M:.MMD,...............NM
                                         ZM.................IMMM7
                                      OMM7..............?MMM7
                                  ,DMM+.................MZ
                               ~NMM~............+MMM....~M~
                            +MMD,...........,MMMZ ,M:....$M
                         7MMO...........~NO.OM     NN.....NM
                      $MM7..........~NMMOMN.8M     ~M......MD
                   ~MM$...........:MN,   NN.8M      MO......MI
                 ?MM:..............ZM    NN.8M      7M......+M,
               IMN.......,NMMMO.....8M   NN.8M       M?......OM
             ~MN.......OMM~   MM.....NM  DM.8M       OM.......MN
            NM:......NM$       NM.....MN 8M.OM        M~.......MZ
           MD......DMI          OM.....M8OM.ZM        NM.......:M=
          MZ......MN             7M:...,MMM.$M        :M,.......IM
         M8......MD               +M+...=MM.7M         MD........8M
        ?M......=M                 ~MI...OM.?M         =M.........MN
        8M......:M                  ,M$.....=M          MZ.........M$
        ?M.......DM:                 ,MZ....~M          7M.......IMMM
         MN.......=MMN7=~:~=ION?      ,M7...,M,          M+.,$MMMZ, .
          MM..........=7ZOZ7+:$M       ,MI...M,          8MMN+      .
           ZMZ.................MO       :M?..M~                     .
             8MN,..............=M        ~M=.M+                     .
               :NMM$............MD        +M:M7                     .
                   ?NMMMD?,.....:M,        IMMO                     .
                        ,?8MMMMMMMM         OMD                     .
                                 :~          DD                     .
                                                                    .
                                                                    V
                                                       GlassGiant.com
-->
{% endif %}
{% endmacro %}
